* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/assets/images/login/Makeup.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.wrapper {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

.input-box {
    position: relative;
    margin: 10px 0;
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #ff5f7e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}

.button:hover {
    background: #e04e6e;
}

.register-link {
    font-size: 14px;
}

.register-link a {
    color: blue;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
