body{
    margin-left: 20px;
    margin-bottom: auto;
}
table{
    margin-left: 0px;
    margin-top: 5px;
    border-collapse: collapse;
}
td{
    width: 53px;
    height: 50px;
    text-align:  center;
    border: 1px solid black;
}
button{
    padding: 5px 10px;
    margin: 0px;
    cursor: pointer;
}